@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap");
body {
  background-color: rgb(247 247 247);
  font-family: "Roboto", sans-serif;
}

header {
  margin: 0;
  padding: 0;
}

header img {
  height: 50px;
}

header ul li a {
  color: rgb(58, 126, 190) !important;
  font-weight: 600 !important;
}

.covid-container img {
  width: 800px;
  margin-left: 110px;
}

.card-container-div {
  background-color: #ebebeb;
  padding-top: 40px;
}
.card {
  width: 21rem;
  margin: auto;
}
