@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Roboto:wght@500&display=swap");
body {
  background-color: rgb(247 247 247);
  font-family: "Roboto", sans-serif;
}

header {
  margin: 0;
  padding: 0;
}

header img {
  height: 50px;
}

header ul li a {
  color: rgb(58, 126, 190) !important;
  font-weight: 600 !important;
}

.covid-container img {
  width: 800px;
  margin-left: 110px;
}

.card-container-div {
  background-color: #ebebeb;
  padding-top: 40px;
}
.card {
  width: 21rem;
  margin: auto;
}

@media only screen and (max-width: 640px) {
  header {
    display: block !important;
  }
  header .img-logo {
    margin-left: 0 !important;
    display: block !important;
    display: none !important;
  }
  header ul {
    justify-content: center;
  }
  .covid-container img {
    width: 100%;
    margin-left: 0;
  }
  .card {
    margin: 0;
    width: 100%;
  }
  .card-container-div {
    padding-top: 0 !important;
    font-size: 10px;
    background-color: none !important;
  }
  .card-body {
    padding: 0 !important;
  }
  .list-group-item {
    padding: 0 !important;
  }
  #myMap {
    width: 100% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .card {
    margin: 0;
    width: 100%;
  }
}
